body {
	background-color: #efefef;
}
table {
	border:none;
	width:200px;
}
td {
	background-color: none;
	border:1px solid black;
	font-size:14px;
	vertical-align: bottom;
	 
}

table tr:nth-child(1) td:first-child {
	visibility:hidden;

}

table tr td:first-child{
	 
}

table tr {
	height: 10px;
}

.outer {
	border: none;
	color:black;
}

.rotate {
	transform: rotate(270deg);
	transform-origin: left top 0;
 }
