body {
	background-color: #7bed9f;
}

.game-container {
	margin: 0 auto;
	max-width: 700px;
	height: 500px;
	background-color: #7bed9f;
	border-radius: 0px;
	border: 2px solid black; 
	overflow: hidden;
}

.menu {
	text-align:center;
	height:100%;
}

.menu-content {
	padding: 50px 50px; 
}

p {
	display:inline;
}

table {
	border:none;
	width:100%;
	background-color: none; /* this can't match td color */
}

#myDynamicTable {
	display:none;
}

td {
	background-color: transparent; /* outer, trimmed table secton. not apart of play field */
	border:1px solid rgb(247, 241, 227);
	font-size:4px;
	height:12px;
	vertical-align: bottom;
	min-width: 16px; 
	padding: 0 0 0 0;
}

tr { 
	line-height:0px;
	height:21.5px; /* 500px / 23 rows */ 
}

table, th, td {
	border: 0px; 
	border-collapse: collapse;
}
